.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local
*.pyc
.DS_Store
*checkpoint*

# output artifact
example/model/*
# example/openstack_result/*  # Viay: to add parsed files
# train
# test_normal
# test_abnormal
*.pkl
*.pth

# Environments
.env
.venv
env/
venv/
venv_ubuntu/
ENV/
env.bak/
venv.bak/